<h2>Moji junaci</h2>

<div class="container">
  <div class="row">

    <div class="col">
      <ul class="heroes">
        <div class="d-grid gap-2 d-md-block">
          <li *ngFor="let hero of heroes">
            <a class="btn btn-primary custom" routerLink="/detail/{{hero.id}}">
              <span class="badge bg-secondary">{{hero.id}}</span>
              <span>{{hero.name}}</span>
            </a>
            <button class="btn btn-danger" (click)="open(mymodal, hero)">X</button>
          </li>
        </div>
      </ul>
    </div>

    <div class="col">
      <label for="new-hero">Ime junaka: </label>
      <input id="new-hero" #heroName />

      <!-- (click) passes input value to add() and then clears the input -->
      <button class="btn btn-secondary" (click)="add(heroName.value); heroName.value=''">
        Dodaj junaka
      </button>
    </div>
  </div>



  <ng-template #mymodal let-modal>
    <div style="z-index: 1041;" >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Potvrda brisanja</h4>
    </div>
    <div class="modal-body">
      {{ PORUKA_BRISANJE }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('obrisi')">Da</button>
      <button type="button" class="btn btn-secondary" ngbAutofocus (click)="modal.close('odustani')">Odustani</button>
    </div>
    </div>
  </ng-template>
